#inicio{
    display: flex;
    position: relative;
    width: 100%;
    height: 1920px;
}

#head{
    display:flex;
    position: absolute;
    width: 100%;
    height: 40px;
    background: #000000;
    

}

#banner{

    position: absolute;
    width: 100%;
    margin-top: 40px;
    height: 1080px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}