Body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color:#fff;
}

#contentg{
    width: 100%;
    height: 100%;

}

#inicio{
    display: flex;
    position: relative;
    width: 98vw;
    height: 91.5vh;
}

#head{
    display:flex;
    position: absolute;
    width: 98vw;
    height: 8.5vh;
    

}

#head img{

    margin: 2vh 1vh 1vw 82vw;
    width: 15vw;
    height:7.5vh;

}

#banner{

    
    display:flex;
    align-items: center;
    width: 98.75vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    color: #fff;
    font-size: 45px;
    align-items: center;
    justify-content: center;
    position: absolute;

}

.banner-content h1{
    padding: 10px;
    font-size: 50px;
    font-weight:normal;
}

.banner-content button{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.05rem 5rem;
    font-size: 30px;
    border-radius: 199px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .banner-content button:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: #ffffff;
  }

  button a:hover{
    color: #000;
  }
  #particles-js {
    position: relative;
    width: 97vw;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}



/*responsividade 768px*/

@media screen and (max-width: 768px){
    
    #head img{
    
        margin: 2vh 1vh 1vw 80vw;
        width: 16vw;
        height:6vh;
    
    }
    

    .banner-content h1{
        padding: 10px;
        font-size: 35px;
        font-weight:normal;
    }

}


/*responsividade 480px*/

@media screen and (max-width: 480px){

        #head img{
        
            margin: 2vh 1vh 1vw 73vw;
            width: 20vw;
            height:4vh;
        
        }
        
    
        .banner-content h1{
            padding: 0 0 15px 40px;
            font-size: 35px;
            font-weight:normal;
        }

}


/*responsividade 320px*/

@media screen and (max-width: 320px){

    #head img{
    
        margin: 2vh 1vh 1vw 62vw;
        width: 30vw;
        height:4vh;
    
    }
    

    .banner-content h1{
        padding: 0 40px 15px 40px;
        font-size: 25px;
        font-weight:normal;
    }

    .banner-content button{
        color: #fff;
        background-color: #000000;
        border-color: #000000;
        display: inline-block;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        padding: 0.05rem 2rem;
        font-size: 25px;
        border-radius: 199px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      #banner{

        display:flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

}